<%@ Page Language="C#" MasterPageFile="~/MasterPage.master" AutoEventWireup="true" CodeFile="Page_LogCreateUpdate.aspx.cs" Inherits="Log_CreateUpdate" Title="Untitled Page" %>
<asp:Content ID="Content1" ContentPlaceHolderID="ContentPlaceHolder1" Runat="Server">
    Please update your info<br />
    <br />
    Please type the data correctly
</asp:Content>

