<%@ Page Language="C#" MasterPageFile="~/MasterPage.master" AutoEventWireup="true" CodeFile="Page_LogSignOut.aspx.cs" Inherits="Page_LogSignOut" Title="Untitled Page" %>
<asp:Content ID="Content1" ContentPlaceHolderID="ContentPlaceHolder1" Runat="Server">
<center>
    <br />
    <span style="font-size: 16pt"><strong>
    Are You Sure?</strong><br />
    <br />
    </span>
    <asp:LoginStatus ID="LoginStatus1" runat="server" LogoutAction="Redirect" LogoutPageUrl="~/Default.aspx" Font-Size="16pt" />
    </center>
</asp:Content>

