<%@ Page Language="C#" MasterPageFile="~/MasterPage.master" AutoEventWireup="true" CodeFile="Page_Service.aspx.cs" Inherits="Page_Service" Title="Untitled Page" %>
<asp:Content ID="Content1" ContentPlaceHolderID="ContentPlaceHolder1" Runat="Server">
    <span style="font-size: 10pt; font-family: Tahoma"><center>
        &nbsp;</center></span><font color="#000000"
        face="Arial" style="font-size: 9pt">
        <center><img src="../Images/Event2.gif" /></center><br />
        <br />
        Our expert management and technical teams are dedicated to meet all your transport
        needs and requirements.
        <br />
        <br />
    </font><div style="text-align: justify">
        <font color="#000000" face="Arial" style="font-size: 9pt">
            What makes us unique above all others in the industry is the presence of full-time
            professionals who are responsible and accountable for delivering the utmost in quality
            and service to our customers.</font></div>
    <div style="text-align: justify">
        <font color="#000000" face="Arial" style="font-size: 9pt">
            <br />
        </font>
    </div>
    <div style="text-align: justify">
        <font color="#000000" face="Arial" style="font-size: 9pt">Kindly call us, should there
            be any questions or concern regarding your unit.;</font></div>
    <div style="text-align: justify">
        <font color="#000000" face="Arial" style="font-size: 9pt">
            <br />
            SERVICE TELEPHONE NOS.;</font></div>
    <div style="text-align: justify">
        <font color="#000000" face="Arial" style="font-size: 9pt">(0632) 984-2509 or 445-3226</font></div>
    <div>
        <font color="#000000" face="Arial" style="font-size: 9pt"></font>&nbsp;</div>
    <div style="text-align: justify">
        <font color="#000000" face="Arial" style="font-size: 9pt">or visit us at;<br />
        </font></div>
    <div>
        <font color="#000000" face="Arial" style="font-size: 9pt"></font>&nbsp;</div>
    <div style="text-align: justify">
        <font color="#000000" face="Arial" style="font-size: 9pt">
            SERVICE LOCATION;</font></div>
    <div style="text-align: justify">
        <font color="#000000" face="Arial" style="font-size: 9pt">6070 Pabaya St., Mapulang
            Lupa </font>
    </div>
    <div style="text-align: justify">
        <font color="#000000" face="Arial" style="font-size: 9pt">1448 Valenzuela City, Philippines</font></div>
</asp:Content>

