<%@ Page Language="C#" MasterPageFile="~/MasterPage.master" AutoEventWireup="true" CodeFile="Page_Mail.aspx.cs" Inherits="Page_Mail" Title="Untitled Page" %>
<asp:Content ID="Content1" ContentPlaceHolderID="ContentPlaceHolder1" Runat="Server">
    <center>
    <span>&nbsp;&nbsp;</span></center>
    <center>
        <span></span>&nbsp;</center>
    <center>
        <span>
            <asp:HyperLink ID="HyperLink1" runat="server" Font-Size="12pt" NavigateUrl="Inbox.aspx">Inbox</asp:HyperLink><span
                style="font-size: 12pt"> | </span>
            <asp:HyperLink ID="HyperLink2" runat="server" Font-Size="12pt" NavigateUrl="Outbox.aspx">Outbox</asp:HyperLink><span
                style="font-size: 12pt"> | </span>
            <asp:HyperLink ID="HyperLink3" runat="server" Font-Size="12pt" NavigateUrl="Compose.aspx">Compose</asp:HyperLink></span></center>
    <center>
        <span style="font-size: 16pt">
            <br />
        <strong>Mail<br />
            <br />
        </strong>
        <table style="width: 80%">
            <tr>
                <td style="width: 1px" align="right">
                    <span style="font-size: 12pt">Recipient:</span></td>
                <td style="width: 372px" align="left">
                    <asp:TextBox ID="TextBox1" runat="server" Width="89%"></asp:TextBox></td>
            </tr>
            <tr>
                <td style="width: 1px" align="right">
                    <span style="font-size: 12pt">Subject:</span></td>
                <td style="width: 372px" align="left">
                    <asp:TextBox ID="TextBox2" runat="server" Width="89%"></asp:TextBox></td>
            </tr>
            <tr>
                <td style="height: 57px; width: 1px; text-align: right;" align="right">
                    <span style="font-size: 12pt">Message:</span></td>
                <td style="height: 57px; width: 372px;" align="left">
                    <asp:TextBox ID="TextBox3" runat="server" Height="218px" Width="89%"></asp:TextBox></td>
            </tr>
        </table>
        </span>
    </center>
</asp:Content>

