<%@ Page Language="C#" MasterPageFile="~/MasterPage.master" AutoEventWireup="true" CodeFile="Page_Passenger.aspx.cs" Inherits="Page_Passenger" Title="Untitled Page" %>
<asp:Content ID="Content1" ContentPlaceHolderID="ContentPlaceHolder1" Runat="Server">
<center>

    &nbsp;<img src="Images/Passenger1.gif" style="width: 422px" /><br />
    &nbsp;<br />
                <img src="Images/Passenger2.gif" id="IMG1" language="javascript" onclick="return IMG1_onclick()" style="width: 422px" />&nbsp;<br />
    &nbsp;<br />
                <img src="Images/Passenger3.gif" style="width: 422px" />&nbsp;<br />
    <br />
                <img src="Images/Passenger4.gif" style="width: 422px" />&nbsp;<br />
    <br />
                <img src="Images/Passenger5.gif" style="width: 422px" />
                </center>
</asp:Content>

