<%@ Page Language="C#" MasterPageFile="~/MasterPage.master" AutoEventWireup="true" CodeFile="Page_Truck.aspx.cs" Inherits="Page_Truck" Title="Untitled Page" %>
<asp:Content ID="Content1" ContentPlaceHolderID="ContentPlaceHolder1" Runat="Server">
<center>
    &nbsp;<img src="Images/Truck15.gif" />
                <img src="Images/Truck14.gif" />
                <img src="Images/Truck13.gif" />
                <img src="Images/Truck11.gif" />
                <img src="Images/Truck12.gif" />
                <img src="Images/Truck9.gif" />
                <img src="Images/Truck10.gif" />
                <img src="Images/Truck8.gif" />
                <img src="Images/Truck5.gif" />
                <img src="Images/Truck6.gif" />
                <img src="Images/Truck7.gif" />
                <img src="Images/Truck4.gif" />
                <img src="Images/Truck2.gif" />
                 <img src="Images/Truck3.gif" />
                <img src="Images/Truck1.gif" />
                </center>
</asp:Content>

